@import "./lib/styles/paddings.css";
@import "./lib/styles/margins.css";
@import "./lib/styles/texts.css";
@import "~bootstrap-grid/dist/grid.css";
@import "~swagger-ui/dist/swagger-ui.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative; }

.row > div {
  box-sizing: border-box;
}
