@import "./lib/styles/paddings.css";
@import "./lib/styles/margins.css";
@import "./lib/styles/texts.css";
@import "~bootstrap-grid/dist/grid.css";
@import "~swagger-ui/dist/swagger-ui.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative; }

.row > div {
  box-sizing: border-box;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0)
	}
	20%,
	60% {
		transform: rotate(-25deg)
	}
	40%,
	80% {
		transform: rotate(10deg)
	}
}
@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
